<div class="container-fluid mt-5 footer-container">
  <div class="container">
    <div class="row">
      <div class="logo-container col-md-5 mt-3">
        <img class="logo" src="/assets/logo/wien-zeit-white-logo.png">
      </div>
  
      <div class="subscription col-sm-12 col-md-3 mt-4 flex-column">
        <p class="title">Subscription</p>
        <app-subscription-form></app-subscription-form>
      </div>
  
      <div class="contact-us col-12 col-md-4 mt-4 text-center">
        <p class="contact-title">Contact</p>
        <div class="contact-info">
          <p>wienzeit&#64;gmail.com</p>
          <p>+43 1 234 5678</p>
          <p>+43 1 987 6543</p>
        </div>
      </div>
  
      <div class="copyright-section">
        <hr>
        <p class="copyright-text">Copyright © 2024 WienZeit. All Rights Reserved | Privacy Policy</p>
      </div>
    </div>
  </div>
</div>