.main-section {
  .section-title {
    margin-top: -.8rem;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  p {
    font-size: .9rem;
  }
}

.title-about-us {
  width: 40%;
}

.title-post {
  width: 30%;
}

.title-subscribe {
  width: 55%;
}